/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.login-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.login-iframe {
    height: 400px;
}

.dropdown-content.show {
    display: block;
}
